footer {
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $fontPrimary;
    color: $fontSecondary;
        a {
            font-style: italic;
            opacity: 0.7;
        }
}