// COLOUR VARIABLES ----------
$primaryColour:#792220;
$secondaryColour: #2b4750;
$tertiaryColour: #cf7741;
$fourthColour: #421206;
$fontPrimary: #202020;
$fontSecondary: #f2e9dd;

body{
    background-color: $primaryColour;
}

<<<<<<< HEAD
=======
main {
    min-height: 85vh;
    padding-bottom: 50px;
}
>>>>>>> cc6e8edf297d3b4739340131ac91861ae495a322
