// COLOUR VARIABLES ----------
// $primary-colour:#e2804d;
// $secondary-colour:#cf511b;
// $tertiary-colour: #df96cc;
$primaryColour:#792220;
$secondaryColour: #2b4750;
$tertiaryColour: #cf7741;
$fourthColour: #421206;
$fontPrimary: #202020;
$fontSecondary: #f2e9dd;

body{
    background-color: $primaryColour;
}

