// COLOUR VARIABLES ----------
// $primary-colour:#e2804d;
// $secondary-colour:#cf511b;
// $tertiary-colour: #df96cc;
$primary-colour:#792220;
$secondary-colour: #2b4750;
$tertiary-colour: #cf7741;
$fourth-colour: #421206;
$font-primary: #202020;
$font-secondary: #f2e9dd;