header {
    animation: slideInLeft 1s ease;
    min-height: 8vh;
    background-color: $fontPrimary;
    color: $fontSecondary;
    display: flex;
    justify-content: center;
    align-items: center;
}

.constrainH1 {
    display: flex;
    justify-content: center;
    align-items: center;
        h1 {
            overflow: hidden; 
            font-size: 3rem;
            white-space: nowrap; 
            margin: 0 auto; 
            letter-spacing: .15em; 
            text-transform: uppercase;
            animation: typing 1.5s steps(40, end),
        }
}

/* typing effect animation */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}