header {
    background-color: $fontPrimary;
    color: $fontSecondary;
    font-size: 5rem;
<<<<<<< HEAD
    h1{
        font-family: 'Poiret One', cursive;
=======
    text-align: center;
    h1 {
        text-transform: uppercase;
>>>>>>> 5e127e05ca4ab836ae8d900045c02a3503449809
    }
}
 
