header {
    animation: slideInLeft 1s ease;
    min-height: 8vh;
    background-color: $fontPrimary;
    color: $fontSecondary;
    display: flex;
    justify-content: center;
    align-items: center;
}

.constrainH1 {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        overflow: hidden; 
        font-size: 3rem;
        white-space: nowrap; 
        margin: 0 auto; 
        letter-spacing: .15em; 
        text-transform: uppercase;
        animation: typing 1.5s steps(40, end),
    }
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* ------------------- MEDIA QUERIES ------------------- */
/* MAJOR BREAKPOINT 1: portrait tablet & landscape phone */
@media (min-width: 480px) {
    h1 {
        font-size: 4rem;
    }
}

/* MAJOR BREAKPOINT 2: small desktop & portrait tablet */
@media (min-width: 768px) {
    h1 {
        font-size: 6rem;
    }
}