.instructionsFormContainer{
    background-color: $fontSecondary;
    border: 5px solid $fontPrimary;
    margin: 0 auto;
    padding: 15px;
    width: 80%;
    box-shadow: 0 0 15px $fontPrimary;
        img{
            z-index: 999;
            position: absolute;
        }
        p {
            margin-bottom: 30px;
            line-height: 3rem;
        }
}

form {
        .userNameInput input {
            padding: 10px;
            width: 100%;
        }
        .userSelectionOptions {
            display: flex;
            flex-wrap: wrap;
                label {
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    text-align: center;
                    background-color: $secondaryColour;
                    color: $fontSecondary;
                    border: 2px solid $fontPrimary;
                    width: calc(100%);
                    padding: 15px 0;
                    margin-top: 40px;
                    transition: 0.3s all;
                    cursor: pointer;
                        &:hover,
                        &:active,
                        &:focus {
                            background-color: $tertiaryColour;
                        }
                }
                input[type=radio] {
                    position: absolute;
                    opacity: 0;
                        &:checked + label {
                            background-color: $primaryColour;
                            font-weight: 700;
                        }
                }
        }
        .userWishInput textarea {
            margin: 40px 0 20px 0;
            padding: 10px;
            width: 100%;
            resize: none;
        }
}