.maze {
    margin: 30px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
        div {
            width: 20px;
            height: 20px;
        }
}

.path {
    background-color: transparent;
}

.wall {
    background-color: black;
    border-radius: 5px;
    background-image: url("https://i.ibb.co/3M2Q7Gx/brick-maze-pattern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 1px $font-primary;
}

.coin {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-image: url("https://i.ibb.co/ZTDzxH0/pngtree-cartoon-coin-image-1288778.jpg");
    background-size: cover;
    animation: coinSpin 2s linear infinite;
}

@keyframes coinSpin {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}