// maze styling
.maze {
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vw;
    min-width: 300px;
    max-width: 600px;
    height: 70vw;
    min-height: 300px;
    max-height: 600px;
    box-shadow: 0 0 10px $fontPrimary;
    background-color: $fontSecondary;
    position: absolute;
    top: 25px;
    opacity: 0;
        div {
            width: calc(100% / 30);
            height: calc(100% / 30);
        }
}

.path {
    background-color: $fontSecondary;
}

.wall {
    background-color: $fontPrimary;
    border-radius: 5px;
    background-image: url("https://i.ibb.co/3M2Q7Gx/brick-maze-pattern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 1px $fontPrimary;
}

.end {
    background-color: $tertiaryColour;
}

.border {
    background-color: $fontPrimary;
}

.coin {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-image: url("https://i.ibb.co/ZTDzxH0/pngtree-cartoon-coin-image-1288778.jpg");
    background-size: cover;
    animation: coinSpin 2s linear infinite;
}

@keyframes coinSpin {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}


// coin slot styling
.mazeInstructionsAndImage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
        p {
            margin-top: 10px;
        }
        .mazeCoinImageContainer {
            height: 300px;
            width: 40%;
            min-width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
                .coinImage {
                    width: 50%;
                    position: absolute;
                    top: 0;
                    z-index: 10;
                    cursor: pointer;
                }
                .coinSlotTop, 
                .coinSlot {
                    position: absolute;
                    top: 30%;
                }
                .coinSlotTop {
                    z-index: -10;
                }
                .coinSlot {
                    z-index: 20;
                }
        }
}


// animations dynamically added with JS
.coinDropAnimation {
    animation: coinDrop 2s ease-in forwards;
}

@keyframes coinDrop {
    0% {top: 0}
    100% {top: 45%}
}

.coinFadeAnimation {
    animation: fadeOut 1s ease-in 2.5s forwards;
}

.mazeFadeAnimation {
    animation: mazeFade 1s ease-in 3s forwards;
}

@keyframes mazeFade {
    0% {opacity: 0}
    100% {opacity: 1}
}


// results button styling
.resultsButton {
    font-size: 2.3rem;
    font-family: $headingFont;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: $fontSecondary;
    background-color: $fontPrimary;
    border: 3px solid $fontPrimary;
    box-shadow: 0 0 5px $fontPrimary;
    padding: 15px 30px;
    margin-top: 20px;
    transition: 0.3s all;
    width: 90%;
    z-index: 100;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
        &:hover,
        &:active,
        &:focus {
            background-color: $tertiaryColour;
            color: $fontPrimary;
        }
}


// arrow buttons styling
.arrowButtonsContainer {
    display: flex;
    justify-content: center;
}

.arrowButtonsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 200px;
    min-height: 123px;
    margin-top: 30px;
    position: absolute;
    left: 0;
        .arrowButton {
            color: $fontSecondary;
            font-weight: bold;
            font-size: 2rem;
            border: 2px solid $tertiaryColour;
            border-radius: 10px;
            padding: 5px;
            transition: all 0.3s ease-in;
            text-transform: uppercase;
            text-decoration: none;
        }
        .upArrowButton {
            background: linear-gradient(
                to top,
                $tertiaryColour 50%,
                $fontPrimary 50%
            );
            background-size: 100% 200%;
            background-position: right top;
                &:focus,
                &:active {
                    background-position: left bottom;
                }
        }
        .leftArrowButton {
            background: linear-gradient(
                to left,
                $tertiaryColour 50%,
                $fontPrimary 50%
            );
            background-size: 200% 100%;
            background-position: left top;
                &:focus,
                &:active  {
                    background-position: right bottom;
                }
        }
        .downArrowButton {
            background: linear-gradient(
                to bottom,
                $tertiaryColour 50%,
                $fontPrimary 50%
            );
            background-size: 100% 200%;
            background-position: right bottom;
                &:focus,
                &:active {
                    background-position: left top;
                }
        }
        .rightArrowButton {
            background: linear-gradient(
                to right,
                $tertiaryColour 50%,
                $fontPrimary 50%
            );
            background-size: 200% 100%;
            background-position: right top;
                &:focus,
                &:active {
                    background-position: left bottom;
                }
        }
}