.maze {
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    min-width: 300px;
    max-width: 750px;
    height: 70vw;
    min-height: 300px;
    max-height: 750px;
    box-shadow: 0 0 10px $fontPrimary;
    background-color: $fontSecondary;
        div {
            width: calc(100% / 30);
            height: calc(100% / 30);
        }
}

.path {
    background-color: $fontSecondary;
}

.wall {
    background-color: $fontPrimary;
    border-radius: 5px;
    background-image: url("https://i.ibb.co/3M2Q7Gx/brick-maze-pattern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 1px $fontPrimary;
}

.end {
    background-color: $tertiaryColour;
}

.border {
    background-color: $fontPrimary;
}

.coin {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-image: url("https://i.ibb.co/ZTDzxH0/pngtree-cartoon-coin-image-1288778.jpg");
    background-size: cover;
    animation: coinSpin 2s linear infinite;
}

@keyframes coinSpin {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}