/* MAJOR BREAKPOINT 1: portrait tablet & landscape phone */
@media (min-width: 480px) {
    // HEADER
    h1 {
        font-size: 4rem;
    }

    // INSTRUCTIONS
    .formSubmitButton {
        margin-bottom: 40px;
    }

    .userNameInput input,
    .userWishInput textarea,
    .formSubmitButton {
        width: 85%;
    }

    .userSelectionOptions{
        label {
            margin: 40px 5px 0 5px;
            width: calc(100% / 2 - 10px);
        }
    }

    // MAZE
    .mazeInstructionsAndImage{
        min-height: 550px;
    }
}


/* MINOR BREAKPOINT 1 */
@media (min-width: 585px) {
    // MAZE
    .mazeInstructionsAndImage{
        min-height: 600px;
    }
}

/* MINOR BREAKPOINT 2 */
@media (min-width: 660px) {
    // MAZE
    .mazeInstructionsAndImage{
        min-height: 660px;
    }
}


/* MAJOR BREAKPOINT 2: small desktop & portrait tablet */
@media (min-width: 768px) {
    // HEADER
    h1 {
        font-size: 6rem;
    }

    // INSTRUCTIONS
    .userNameInput input,
    .userWishInput textarea,
    .formSubmitButton {
        width: 70%;
    }

    .userSelectionOptions {
        label {
            margin: 40px 5px 0 5px;
            width: calc(100% / 3 - 10px);
        }
    }

    // MAZE
    .mazeInstructionsAndImage{
        min-height: 750px;
    }

    // RESULTS
    .wishContainer {
        h2 {
            font-size: 4.5rem;
        }

        p {
            font-size: 2.5rem;
            padding: 40px 10px;
        }

        .resetWish {
            font-size: 2.5rem;
            padding: 15px 30px;
            margin-bottom: 10px;
            &:hover{
                background-color: $tertiaryColour;
                color: $fontPrimary;
            }
        }
    }
}


/* MAJOR BREAKPOINT 3: desktops & laptops */
@media (min-width: 940px) {
    // INSTRUCTIONS
    .instructionsFormContainer {
        padding: 50px 75px;
            p {
                font-size: 2.5rem;
            }
    }
}


/* MAJOR BREAKPOINT 4: larger desktops & up */
@media (min-width: 1220px) {
    // INSTRUCTIONS
    .instructionsFormContainer {
        padding: 50px 90px;
    }

    .userNameInput input,
    .userWishInput textarea,
    .formSubmitButton {
        width: 50%;
    }

    // MAZE
    .arrowButtonsGrid {
        display: none;
    }

    .mazeInstructionsAndImage{
        min-height: 0;
    }

    // RESULTS
    .wishContainer h2 {
        overflow: hidden; 
        white-space: nowrap; 
        margin: 0 auto; 
        animation: 
            typing 3s steps(40, end),
    }
}