@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Poiret+One&display=swap');

$bodyFont: 'Hind Siliguri', sans-serif;
$headingFont: 'Poiret One', cursive;


body {
    font-family: $bodyFont;
    font-size: 2rem;
        h1 {
            font-family: $headingFont;
            font-size: 4rem;
            padding: 10px;
        }
        h2 {
            font-family: $headingFont;
            font-size: 2rem;
            letter-spacing: 2px;
        }
}

form {
    .userNameInput input,
    .userWishInput textarea {
        font-family: $bodyFont;
    }
    .userNameInput input::placeholder,
    .userWishInput textarea::placeholder {
        font-family: $bodyFont;
        font-style: italic;
    }
    button {
        font-family: $headingFont;
    }
}

