.zoltarImageContainer {
    animation: slideInLeft 1s ease;
    display: flex;
    justify-content: center;
    padding: 50px;
        .zoltarImage {
            box-shadow: 0 0 10px black;
            width: 300px;
            position: relative;
                .zoltarMouth {
                    position: absolute;
                    z-index: 10;
                    top: 0px;
                    left: 0;
                    animation: movingMouth 2s linear infinite;
                    // animation-duration: 2s;
                    // animation-iteration-count: infinite;
                    // animation-timing-function: linear;
                }
        }
}

@keyframes movingMouth {
    0% {top: 0px;}
    25% {top: 7.5px;}
    50% {top: 15px;}
    75% {top: 7.5px;}
    100% {top: 0px;}
}