.zoltarRedEyes {
    position: absolute;
    opacity: 0;
    animation: redEyes 1.4s linear infinite;
}

.zoltarRedEyesMouth {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0;
    animation: movingMouthResults 1.5s linear forwards;
}

@keyframes movingMouthResults {
    0% {top: 0px;}
    25% {top: 7.5px;}
    50% {top: 15px;}
    75% {top: 22.5px;}
    100% {top: 30px;}
}

@keyframes redEyes {
    0% {opacity: 0;}
    25% {opacity: 50%}
    50% {opacity: 100%}
    75% {opacity: 50%}
    100% {opacity:0%}
}