.zoltar-image-container {
    display: flex;
    justify-content: center;
    background-color: #C4BDAB;
    padding: 50px;
        .zoltar-image {
            width: 300px;
            position: relative;
                .zoltar-mouth {
                    position: absolute;
                    z-index: 10;
                    top: 0px;
                    left: 0;
                    animation: moving-mouth;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
        }
}

@keyframes moving-mouth {
    0% {top: 0px;}
    25% {top: -2.5px;}
    50% {top: -5px;}
    75% {top: -2.5px;}
    100% {top: 0px;}
}